[Unit]
Description=Yandex Disk service with docker compose
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=docker-compose up -f /home/ubuntu/YandexDisk_REST_API/docker-compose.yml -d --remove-orphans
ExecStop=docker-compose down -f /home/ubuntu/YandexDisk_REST_API/docker-compose.yml

[Install]
WantedBy=multi-user.target
